/*mainSquare*/
.square {
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
}

.square article {
    height: 100%;
    box-shadow: 2px 2px 5px rgba(134, 8, 252, 0.815);
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20%;
    margin-right: 20%;
    border: 3px solid rgba(134, 8, 252, 0.815);
    border-radius: 6px;
    border-bottom-right-radius: 20px;
}


/*index.html*/
.index_menu {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.index_menu th {
    width: 130px;
    padding: 0, 0, 0, 0;
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;

}

.index_menu th a div {
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    line-height: 50px;
}

.index_menu th a div:hover {
    background-color: rgba(255, 255, 255, 0.822);
}


.index_menu th a {
    text-decoration: none;
    font-size: 26px;
    background-color: inherit;
    width: 100%;
    height: 100%;
    border: 0px;
    color: white;
}

#index_header {
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px;
    background-color: rgb(134, 8, 252);
    border-radius: 10px;
    height: 60px;
}

.index_body {
    font-family:Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: black;
    margin: 0;
    color: white;
}

.index_body article,.index_body h1 {
    margin-bottom: 20px;
    font-weight: bolder;
    font-size:33px;
    color: rgb(201, 198, 198);
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

.index_body article span , .index_body h1 span {
    color: blueviolet;
}

.index_body p {
    line-height: 125%;
    border-left: 3px solid blueviolet;
    padding-left: 7px;
    font-size: larger;
    color: rgb(201, 198, 198);
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.index_body p span {
    font-size: inherit  ;
    font-family: sans-serif;
    color: blueviolet;
}

.index_body p span a {
    color: inherit;
}

#footer {
    color: rgb(201, 198, 198);
    text-align: center;
    font-size: medium;
    margin-top: 100px;
    margin-bottom: 20px;
}

#footer span {
    color: blueviolet;
}



/*logs.html*/

#logs p {
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-style: oblique;
}

#logs article div {
    box-shadow: initial;
    text-align: right;
    padding-right: 0px;
    border: initial;
    margin: initial;
    margin-right: 3%;
    color: rgba(201, 198, 198, 0.884);
}




/*record.html*/
#record{
    line-height: 110%;
}
#record p {
    padding-left: 10px;
    padding-right: 5px;
    color: rgba(255, 255, 255, 0.938);
}

#record article div {
    box-shadow: initial;
    padding-top: 4px;
    padding-left: 10px;
    border: initial;
    margin: initial;
    color: rgba(255, 255, 255, 0.726);
}


/*gamesController.html*/
#gamescontrol article div {
    margin-right: 0px;
    text-align: center;
    margin: auto;
}

#gamescontrol article div img {
    margin: 0 auto;
    width: 50%;
    height: 50%;


}

#gamescontrol article div {
    margin: initial auto;
    font-size: xx-large;
    color: blueviolet;
    text-align: center;
}


/*record渲染*/
.record_rendering {
    font-family: sans-serif;
    background-color: black;
    font-size: medium;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 13%;
    margin-right: 13%;
}

.record_rendering p{
    color: rgba(255, 255, 255, 0.938);
}

.record_rendering img {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 3px solid rgba(137, 43, 226, 0.712);
    border-radius: 5px;
    width: 40%;
    height: 40%;
}

.record_rendering p a {
    color: blueviolet;
}

.record_rendering h1 {
    color: rgba(137, 43, 226, 0.822);
}
.record_rendering img::selection{
    background-color: rgba(240, 248, 255, 0);
}


/*scrollbar*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(123, 16, 223, 0.849);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(137, 43, 226, 0.849);
    cursor: pointer;
}


/*选中字颜色*/
::-moz-selection {
    background: rgba(112, 0, 218, 0.712);
}

::selection {
    background: rgba(112, 0, 218, 0.712);
}
