/*mainSquare*/
.square {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.square article {
    height: 100%;
    box-shadow: 2px 2px 5px rgba(134, 8, 252, 0.815);
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20%;
    margin-right: 20%;
    border: 3px solid rgba(134, 8, 252, 0.815);
    border-radius: 6px;
    border-bottom-right-radius: 20px;
    transition-property: margin-left,margin-right;
    transition-duration: 0.5s;
    animation: 0.5s record_start ease-in-out backwards;
}
.square_sliding:hover{
    margin-left: 17%;
    margin-right: 23%;
}
.hidden{
    display: none;
}
/*index.html*/
#index_menu{
    z-index: 100;
    position: fixed;
    top: 0;
    right: -30%;
    width: 30%;
    height:70%;
    background-color: #641fa463;
    color: #fff;
    border-radius: 10px;
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
    font-size: xx-large;
}
#index_menu.visible{
   right: 0;
}

#index_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#index_menu ul li {
    padding: 22px;
    margin-bottom: 30px;
    text-align: center;
    border: solid white;
    border-radius: 10px;
}

#index_menu ul li a {
    text-decoration: none;
    color: #fff;
    height: 100%;
    width: 100%;
}
#index_menu ul li a div{
    text-decoration: none;
    color: #fff;
    height: 100%;
    width: 100%;
}

#index_header {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px;
    background-color: rgb(134, 8, 252);
    border-radius: 10px;
    height: 60px;
}

#menu_media{
    z-index: 9999;
    width: 60px;
    padding-right: 0;
    float: right;
    text-align: right;
    height: 60px;
}
#menu_media img{
    margin: 0 auto;
    height: 100%;
    width: 100%;
}


.index_body {  
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    background-color: black;
}
.index_body article,
.index_body h1 {
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 33px;
    color: rgb(201, 198, 198);
    color: transparent;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    background-image: linear-gradient(to right,rgb(201, 198, 198),rgb(201, 198, 198),transparent);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position-x:200% ;
    animation: 1s h1_fill_background ease-in-out forwards;
}

.index_body article span,
.index_body h1 span {
    color: blueviolet;
    color:  transparent;
    animation: 1s h1_fill_background ease-in-out forwards;
    background-image: linear-gradient(to right,blueviolet,blueviolet,transparent);
    background-position-x: 200%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-size: inherit;

}

.index_body p {
    position: relative;
    line-height: 125%;
    border-left: 3px solid blueviolet;
    padding-left: 7px;
    font-size: larger;
    color: rgb(201, 198, 198);
    color:transparent;
    background-image: linear-gradient(to bottom,rgb(201, 198, 198),rgb(201, 198, 198),transparent);
    background-position-y:-100% ;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    -webkit-background-clip:text;
    animation: 1s p_fill_background ease-in-out 1.5s forwards;
    background-size: 200% 200%;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.index_body p span {
    font-size: inherit;
    font-family: sans-serif;
    color: blueviolet;
    color: transparent;
    background-position-y:200%;
    background-image: linear-gradient(to bottom,blueviolet,blueviolet,transparent);
    background-size: inherit;
    background-repeat: no-repeat;
    background-clip: inherit;
    animation: 1s p_fill_background ease-in-out 1.5s forwards;
}

.index_body p span a {
    color: inherit;
}

#footer {
    color: rgb(201, 198, 198);
    text-align: center;
    font-size: medium;
    margin-top: 100px;
    margin-bottom: 20px;
}

#footer span {
    color: blueviolet;
}



/*logs.html*/

#logs p {
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-style: oblique;
}

#logs article div {
    box-shadow: initial;
    text-align: right;
    padding-right: 0px;
    border: initial;
    margin: initial;
    margin-right: 3%;
    color: rgba(201, 198, 198, 0.884);
}




/*record.html*/
#record {
    line-height: 110%;
}

#record p {
    padding-left: 10px;
    padding-right: 5px;
    color: rgba(255, 255, 255, 0.938);
}

#record article div {
    box-shadow: initial;
    padding-top: 4px;
    padding-left: 10px;
    border: initial;
    margin: initial;
    color: rgba(255, 255, 255, 0.726);
}

/*gamesController.html*/
#gamescontrol article div {
    margin-right: 0px;
    text-align: center;
    margin: auto;
}

#gamescontrol article div img {
    margin: 0 auto;
    width: 50%;
    height: 50%;


}

#gamescontrol article div {
    margin: initial auto;
    font-size: xx-large;
    color: #8a2be2;
    text-align: center;
}


#Download {
    line-height: 110%;
}

#Download p {
    padding-left: 10px;
    padding-right: 5px;
    color: rgba(255, 255, 255, 0.938);
}

#Download article div a {
    box-shadow: initial;
    line-height: 120%;
    border: initial;
    margin: initial;
    color: rgba(255, 255, 255, 0.726);
}

#Download article div {
    position: initial;
    box-shadow: initial;
    text-align: right;
    width: initial;
    height: initial;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-right: 5px;
    border: initial;
    margin: initial;
    background-image: initial;
    color: rgba(255, 255, 255, 0.726);
}

#RefreshDiv{
    width: 50px;
    height: 50px;
    position:fixed;
    color: white;
    top: 5px;
    right: 5px;
    background-color: initial;
}

/*record渲染*/
.record_rendering {
    font-family: sans-serif;
    background-color: black;
    font-size: medium;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 13%;
    margin-right: 13%;
}

.record_rendering p {
    color: rgba(255, 255, 255, 0.938);
}

.record_rendering img {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 3px solid rgba(137, 43, 226, 0.712);
    border-radius: 5px;
    width: 40%;
    height: 40%;
}


.record_rendering p a {
    color: blueviolet;
}

.record_rendering h1 {
    color: rgba(137, 43, 226, 0.822);
}

.record_rendering img::selection {
    background-color: rgba(240, 248, 255, 0);
}


.go_home_button {
    top:2%;
    left: 2%;
    width: 5%;
    position: fixed;
    background-color: black;
    transition-property: all;
    transition-duration: 0.3s;
    border-radius: 10px;
}
.go_home_button img{
    width: 100%;
    height: 100%;
}
.go_home_button:hover{
    top: 0.5%;
    background-color:rgba(255, 254, 254,0.9);
}



/*scrollbar*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(123, 16, 223, 0.849);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(137, 43, 226, 0.849);
    cursor: pointer;
}


/*选中字颜色*/
::-moz-selection {
    background: rgba(112, 0, 218, 0.3);
}

::selection {
    background: rgba(112, 0, 218, 0.3);
}

@keyframes p_fill_background{
    from{
        background-position-y: 200%;
    }
    to{
        background-position-y: 0%;
    }
}
@keyframes h1_fill_background{
    from{
        background-position-x: 200%;
    }
    to{
        background-position-x:0% ;
    }
}
@keyframes record_start{
    from{
        margin-left: 11%;
        margin-right: 29%;
    }
    to{
        margin-left: 20%;
        margin-right: 20%;
    }
}
@keyframes index_body_filter{
    from {
        filter: blur(60px);
    }
    to{
        filter: blur(0px);
    }
}



